.top-header {
  height: 400px;
  width: 100%;
  background-color: #4056A1;
  padding: 20px;
}

.top-header .profile {
  position: relative;
  display: block;
  margin: auto;
  width: fit-content;

  top: 1em;
}

.top-header .h2 {
  text-align: center;
  color: white;
  margin: auto;
}