.fixed-navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #4056A1;
  color: #FFFFFF;
  z-index: 1000;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.title {
  font-family: "Bungee";
  margin: 2%;
  float: left;
}

.write-a-new-tweet {
  font-family: "Bungee";
  margin: 2%;
  float: right;
  background: #4056A1;
  border: none;
  color: white;
}


