.tweets-container {
  background-color: #F5F5DC;
  margin-top: 100px;
}

article.tweet {
  position: relative;
  margin: 30px;
  border-style: solid;
  height: auto;
  padding: 20px;
}

.tweet:hover {
  box-shadow: 5px 10px;
}
img {
  width: 5%;
  left: 2px;
}

.name, .handle {
  margin: 0;
  display: inline;
  font-family: "Bungee";
}

.handle {
  float: right;
  color: grey;
  padding: 15px;
}

.text {
  padding: 7px;
  margin: 0;
}

#footer {
  display:flex;
  justify-content: space-between;
  padding: 2px;
}

